<div class="container-fluid section home">
    <div class="row">
        <div class="col-8 col-sm-6 col-md-4 col-xl-2 offset-2 offset-sm-3 offset-md-4 offset-xl-5 text-center">
            <img src="lib/icon.png" alt="" class="icon">
        </div>
        <div class="col-10 offset-1 text-center header color-1">The Ultimate Digital Project Store</div>
        <div class="col-10 col-lg-6 offset-1 offset-lg-3 text color-3">
            Most digital engineering projects are organized, with supporting documentation and status updates with each release. Motoscala seeks
            to help bring that same clarity to more hands-on tasks. Having a visual log of your progess is not only rewarding, but
            makes the process of demonstrating your work to others infinitely more simple. Create a new project today for free and give all your hard work a place 
            to live.
        </div>
        <div class="col-6 col-sm-4 col-lg-2 offset-3 offset-sm-4 offset-lg-5 text-center get-started-button" ng-click="getStarted()">Get Started</div>
    </div>
</div>