.account-header {
    color: var(--font-color-3);
    margin-bottom: 60px;
}

.account-input {
    border: none;
    outline: none;
    border-bottom: solid 1px var(--accent-color);
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Source;
    color: var(--font-color-1);
    margin-top: 30px;
    transition: all var(--transition-time) ease-in;
    border-radius: 0px;
}
.account-input:focus {
    background-color: #efefef;
}

.submit-credentials {
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0px 10px 20px var(--shadow-color-1);
    cursor: pointer;
    user-select: none;
    font-family: Source;
    font-size: 20px;
    color: var(--font-color-2);
    transition: all var(--transition-time) ease-in;
    margin-bottom: 40px;
}
.submit-credentials:hover {
    background-color: var(--accent-color-lighter);
}