<div class="container-fluid section create">
    <div class="row">
        <div class="col-12 text-center title">{{logName}}</div>
        <div class="col-10 col-md-6 col-xl-4 offset-1 offset-md-3 offset-xl-4 error-message" ng-click="hideError()"><strong>!</strong> {{errorMessage}}</div>
        <div class="col-10 col-lg-8 col-xl-6 offset-1 offset-lg-2 offset-xl-3 editor">
            <div class="instruction">Name your project:</div>
            <input type="text" class="log-name" spellcheck="false" ng-model="logName">
            <div class="instruction">Give it a description:</div>
            <textarea type="text" class="log-description" spellcheck="false" ng-model="logDescription"></textarea>
            <div class="instruction">Add comma separated tags for your project:</div>
            <textarea type="text" class="log-tags" spellcheck="false" ng-model="logTags"></textarea>
            <br>
            <div class="editor-button-wrapper">
                <span class="editor-button create-entry" ng-click="entryCreate()">Add your first entry</span>
            </div>
            <!-- Dynamic -->
            <div class="entry-create" ng-show="entryCreateVisible">
                <div class="instruction">Name your entry:</div>
                <input type="text" class="entry-name" spellcheck="false" ng-model="entryTitle">
                <div class="instruction">Describe what you've done:</div>
                <textarea name="entry-text" type="text" class="entry-text" spellcheck="false" ng-model="entryText"></textarea>
                <div class="instruction">Add media:</div>
                <input 
                    type="file" 
                    name="entry-file-upload" 
                    class="entry-file-upload" 
                    id="upload-media" 
                    ng-model="entryMedia"
                    accept="image/x-png,image/gif,image/jpeg"
                    onchange="angular.element(this).scope().updatedMedia(this)">
                <div class="choose-image-wrapper">
                    <label class="entry-file-upload" for="upload-media">Choose your image</label>
                    <img class="media-display" ng-src="{{media}}" ng-show="hasMedia">
                </div>

                <div class="editor-button-wrapper">
                    <span class="editor-button create-project" ng-click="initProject()">Create project</span>
                </div>
            </div>
        </div>
    </div>
</div>