.create .title {
    margin-top: 40px;
    color: var(--font-color-1);
    font-size: 30px;
    font-family: source;
    margin-bottom: 30px;
}

.create .error-message {
    margin-bottom: 50px;
}

.create .editor {
    border-radius: 5px;
    background-color: #efefef;
    text-align: left;
    padding: 30px;
    font-family: source;
    color: var(--font-color-3);
    position: relative;
    margin-bottom: 100px;
}

.editor .instruction {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-style: italic;
    margin-left: 5px;
    color: var(--font-color-1);
}
.editor .instruction-support {
    font-size: 14px;
    font-style: italic;
    color: var(--font-color-3);
    margin-bottom: 15px;
    margin-left: 5px;
}

.editor input {
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #efefef;
    color: var(--font-color-3);
    border-left: 1px solid var(--accent-color);
    font-family: source;
    padding: 8px;
    padding-left: 10px;
    padding-right: 5px;
    transition: all var(--transition-time) ease-in;
    width: 100%;
    border-radius: 0px;
}
.editor input:focus {
    background-color: #ddd;
}

.editor textarea {
    font-size: 16px;
    line-height: 20px;
    outline: none;
    border: none;
    background-color: #efefef;
    color: var(--font-color-3);
    border-left: 1px solid var(--accent-color);
    font-family: source;
    padding: 8px;
    padding-left: 10px;
    padding-right: 5px;
    width: 50%;
    resize: none;
    transition: all var(--transition-time) ease-in;
    width: 100%;
    border-radius: 0px;
    height: 100px;
}
.editor textarea.log-tags {
    color: var(--font-color-1);
}
.editor textarea:focus {
    background-color: #ddd;
}

.editor .switch {
    width: 150px;
    height: 50px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}
.editor .switch .toggle {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background-color: var(--accent-color-lighter);
}

.editor .editor-button-wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.editor .editor-button {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: 0px 8px 10px var(--shadow-color-1);
    color: white;
    transition: all var(--transition-time) ease-in;
    user-select: none;
    cursor: pointer;
}
.editor .editor-button:hover {
    background-color: var(--accent-color-lighter);
    box-shadow: 0px 3px 10px var(--shadow-color-1);
}

.editor .entry-file-upload {
    display: none;
}

.editor .choose-image-wrapper {
    padding: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-left: 1px solid var(--accent-color);
    font-family: source;
}
.editor label.entry-file-upload {
    display: block;
    font-size: 20px;
    color: var(--accent-color-lighter);
    cursor: pointer;
    user-select: none;
    padding: 0px;
    margin: 0px;
    transition: all var(--transition-time) ease-in;
}
.editor label.entry-file-upload:hover {
    color: var(--accent-color);
}

.editor .media-display {
    width: 40%;
    border-radius: 5px;
    margin-top: 20px;
}