.welcome {
    margin-top: 40px;
    font-size: 30px;
    color: var(--font-color-1);
    font-family: source;
    font-weight: lighter;
    margin-bottom: 40px;
}
.welcome span {
    color: var(--accent-color);
}

.bench .error-message {
    margin-bottom: 50px;
}

.arrow {
    height: 50px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    opacity: 0.6;
}
.two {
    margin-top: 0px;
    opacity: 0.3;
}
.three {
    margin-top: 40px;
    opacity: 1;
}
.arrows {
    margin-bottom: 40px;
}

.log-list-item {
    padding: 20px;
    background-color: #efefef;
    border-radius: 5px;
    position: relative;
    font-family: source;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 150ms ease-in;
    margin-bottom: 20px;
}
.log-list-item:hover {
    border: 1px solid var(--accent-color-lighter);
}
.log-list-item img {
    max-width: 20%;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}
.log-list-item .name {
    color: var(--accent-color);
    font-weight: lighter;
    font-size: 25px;
    width: 35%;
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
}
.log-list-item .description {
    width: 35%;
    display: inline-block;
    color: var(--font-color-1);
    font-size: 16px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .log-list-item .description {
        display: none;
    }
    .log-list-item .name {
        max-width: 40%;
        margin-left: 5%;
    }
    .log-list-item img {
        max-width: 50%;
        max-height: 100px;
    }
}